// SP-specific uncategorized vars
$border-radius-default-SP: 3px;
$font-weight-medium-bold-SP: 500;


// Primary color variables
$gray-lighter-SP: #d9d9d9; // used also for borders
$gray-light-SP: #929292;
$gray-sitepoint-header-bg-SP: #3A3A3A;
$gray-sitepoint-header-SP: #ADADAD;
$gray-text-SP: #6d6d6d;
$gray-bg-SP: #f5f5f5; // used for gray backgrounds

$blue-SP: #0582b6; // hex from Pete (used for links etc.)
$blue-lighter-SP: lighten($blue-SP, 10%);

$red-SP: #ec5645;
$red-darker-SP: darken($red-SP, 10%);
$red-lighter-SP: lighten($red-SP, 10%);

$green-SP: #25c65e;

$primary: #333;
$tertiary: $blue-SP;
// 0527: '$secondary' - always $gray-text-SP?
// 0527: '$tertiary' - always $red-SP? (No, in foundation/base.scss blue links are defined as $tertiary)
// 0527: '$quarternary' - always $red-SP? , resp. $red?
$header_background: $gray-sitepoint-header-bg-SP;
$header_primary: $gray-lighter-SP;

