// SP-specific uncategorized vars
$border-radius-default-SP: 3px;
$font-weight-medium-bold-SP: 500;

// Primary color variables
$gray-lighter-SP: #d9d9d9; // borders
$gray-light-SP: #929292;
$gray-sitepoint-header-bg-SP: #3a3a3a;
$gray-sitepoint-header-SP: #adadad;
$gray-text-SP: #6d6d6d;
$gray-bg-SP: #f7f7f7; // gray backgrounds
$gray-dark-bg-SP: #1e1e1e;

$blue-SP: #0582b6; // links
$blue-lighter-SP: lighten($blue-SP, 10%);

$red-SP: #ec5645;
$red-darker-SP: darken($red-SP, 10%);
$red-lighter-SP: lighten($red-SP, 10%);

$green-SP: #25c65e;

$primary: #333;
$tertiary: $blue-SP;
$header_background: $gray-sitepoint-header-bg-SP;
$header_primary: $gray-lighter-SP;

$mobile-break-point-SP: 765px;
