{{#if siteSettings.enable_sso}}
  <div class="alert alert-info">
    <p>We’ve made some <a href="/sitepoint-account" target="_blank"> exciting changes to SitePoint accounts</a>. Some profile details are now managed through the <a href="/premium/account?origin=community" target="_blank">SitePoint profile page</a>.</p>
    <p>You may be asked to sign-in and verify your email address so we can ensure your forums account remains secure. Don't worry, the process should take less than a minute and you'll be taken right back to where you left off.</p>
  </div>
{{/if}}
