@import "common/foundation/variables";
@import "common/foundation/mixins";

.d-header {
  .header-links-wrapper {
    float: right;
    margin-right: 50px;
  }

  .header-link {
    color: $gray-sitepoint-header-SP;
    display: inline-block;
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-right: 20px;
    margin-top: 11px;

    &:hover {
      color: #fff;
    }
  }
}
