.d-header {
  .header-links-wrapper {
    float: right;
    margin-right: 50px;
  }

  .header-link {
    color: white;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 35px;
    padding: 10px;

    &:hover {
      background: $gray-dark-bg-SP;
    }

    &.u-button {
      border: 1px solid rgba(255, 250, 250, 0.25);
      padding: 0 8px;
      margin: 10px 4px;
      border-radius: 3px;

      &:hover {
        background: white;
        color: $gray-sitepoint-header-bg-SP;
      }
    }
  }
}
