@import "common/foundation/variables";
@import "common/foundation/mixins";

#topic-title h1 {
  padding-top: 5px;

  a:visited {
    color: $tertiary;
  }

  a.badge-category {
    margin-top: -3px;
  }
}


a.reply-new {
  display: block;
  position: static;
  margin-top: 0;
  margin-bottom: 10px;
}

#topic-progress {
  color: $primary;

  i.fa {
    right: 15px;
  }

  h4 {
    font-weight: normal;
  }

  .bg {
    background-color: $green-SP;
  }
}
