@import "common/foundation/variables";
@import "common/foundation/mixins";

.list-controls {
  .nav {
    background-color: $gray-bg-SP;
  }

  a.badge-category {
    &.home {
      background-color: $gray-bg-SP !important; // to override inline style
      color: $gray-text-SP !important; // to override inline style
      font-weight: $font-weight-medium-bold-SP;
    }
  }
}

.topic-list .category {
  width: 140px;

  .badge-category {
    min-width: 120px;
  }
}

.topic-list.categories .category {
  .badge-category.bigger {
    min-width: 100px;
    text-align: center;
  }

  .badge-notification.new-posts {
    color: $gray-light-SP !important;
  }
}
