@import "common/foundation/variables";
@import "common/foundation/mixins";

// --------------------------------------------------
// Badges
// --------------------------------------------------

// Base
// --------------------------------------------------


// Category badge
// --------------------------------------------------


.badge-category,
.badge-category-parent {
  i.fa {
    &.fa-caret-right {
      font-size: 18px; // dropdown caret
      vertical-align: -2px;
    }

    &.fa-group {
      font-size: 14px;
      vertical-align: -1px;

      &:before {
        content: '\f023'; // restricted categories
      }
    }
  }
}

.badge-category-parent {
  display: none;
}

.badge-category {
  @include border-radius-all($border-radius-default-SP);
}
