@import "common/foundation/variables";
@import "common/foundation/mixins";

// --------------------------------------------------
// Badges
// --------------------------------------------------

// Base
// --------------------------------------------------


// Category badge
// --------------------------------------------------


.badge-category,
.badge-category-parent {
  i.fa {
    line-height: 0; // ensure the icon doesn't increase the height of its inline container element (e.g. in the extra-info in topic page heading, or icons in hamburger header menu causing broken layout)

    &.fa-caret-right {
      font-size: 18px; // dropdown caret
      vertical-align: -2px;
    }

    &.fa-group {
      font-size: 14px;
      vertical-align: -1px;

      &:before {
        content: '\f023'; // restricted categories
      }
    }
  }
}

.badge-category-parent {
  display: none;
}

.badge-category {
  @include border-radius-all($border-radius-default-SP);
}


// Notification badge
// --------------------------------------------------

.badge-notification {
  // New posts

  &.new-posts, &.unread-posts {
    background-color: $red-SP;
  }
}
