.btn {
  border-radius: $border-radius-default-SP;
}

#create-topic,
#create-category,
.btn-primary,
.post-controls .actions button.create {
  border-radius: $border-radius-default-SP;
  background: $red-SP;
  color: white;

  &:hover,
  &:focus {
    background-color: $red-darker-SP;
  }

  .d-icon {
    color: white !important;
  }
}

.discourse-no-touch .gutter .reply-new {
  opacity: 1 !important;
}
