.discourse-tags:before {
  padding-right: 3px;
}

.list-tags a.discourse-tag:first-child:before {
  content: "" !important;
}

.list-tags:before {
  content: "" !important;
}

.box + .list-tags {
  display: table;
  padding-top: 8px;
}
