@import "common/foundation/variables";
@import "common/foundation/mixins";

.d-header {
  padding-left: 0px !important;
  padding-right: 0px !important;

  .logomark svg {
    width: 120px;
  }

  .header-links-wrapper {
    display: none;
  }

  .panel {
    margin-right: 0px;
  }

  .icons {
    margin: 0 -3px 0 0;
  }
}
