@import "common/foundation/variables";
@import "common/foundation/mixins";

// MOBILE HEADER OVERRIDES. PLEASE TRY TO KEEP FILE STRUCTURE 1:1 WITH VENDOR FILE



// --------------------------------------------------
// Discourse header
// --------------------------------------------------

.d-header {
  padding-left: 0px !important;
  padding-right: 0px !important;


  // Sitepoint custom style:
  .logomark {
    margin-left: -4px;

    svg {
      width: 120px;
    }
  }

  // Sitepoint custom style:
  .header-links-wrapper {
    display: none;
  }


  .panel {
    margin-right: 0px;
  }

  .icons {
    margin: 0 -3px 0 0;
  }
}
