@import "common/foundation/variables";
@import "common/foundation/mixins";
@import "common/foundation/helpers";

.quote .title {
  border-left: 3px solid $red-SP; // Red border on the left of quotes
}

.user-title {
  margin-right: 10px; // reduce margin to prevent the user group field in meta data pushing the post date on a new line
}
