.top-crawler-links {
  display: none;
}

.d-header,
.drop-down-visible .d-header {
  padding-top: 0px;

  .wrap {
    max-width: none;
    margin-right: 10px;
    margin-top: 0;
    width: 100%;
    padding: 0;
  }

  .header-links-wrapper {
    margin-right: 50px;
    width: 100%;
    text-align: right;

    a:focus {
      outline-color: #0582b6;
      outline-style: auto;
      outline-width: 1px;
    }
  }

  .contents {
    margin: 0;
  }

  .container {
    margin-left: 0px;
    margin-right: 10px;
    max-width: none;
    width: auto;
  }

  .logomark {
    float: left; // so that left-floating .extra-info-wrapper can sit on logo's and link's right side
    padding: 14px 16px 11px 12px;

    &:hover {
      background: $gray-dark-bg-SP;
    }

    svg > #logo,
    svg > rect {
      fill: #fff;
    }

    &.small-logo svg {
      width: 30px;
    }
  }

  .extra-info {
    padding: 5px 8px;
  }

  .current-username a {
    color: #fff;
    margin-top: 12px;
  }

  .panel {
    order: 5;

    .header-buttons {
      display: flex;
      align-items: center;
      margin-top: 0;
    }
  }

  .icons {
    .icon {
      position: relative;
      display: flex;
      padding: 11px 2px;
      color: white;
      border: 1px solid transparent; // prevent "flash of rounded bottom corners" as dropdown is opening
      transition: background-color 167ms ease-out; // align transition with dropdown menu fadein transition

      &:hover {
        background-color: $gray-dark-bg-SP;
        border: 1px solid transparent; // prevent "flash of rounded bottom corners" as dropdown is opening
        color: white;
      }
    }

    .active .icon {
      // when e.g. hamburger dropdown menu is opened
      background-color: $gray-dark-bg-SP;

      &:hover {
        border: 1px solid #fff; // prevent "flash of rounded bottom corners" as dropdown is opening
        color: $gray-sitepoint-header-bg-SP;
        background-color: #fff;
      }

      &:active {
        color: #000;
      }

      .badge-notification {
        top: 0px;
      }
    }

    .badge-notification {
      top: 0px;
    }

    .flagged-posts {
      right: 24px;
    }
  }
}

.d-dropdown {
  border-top-color: #fff;

  .user-dropdown-links .badge-notification {
    margin-right: 5px; // ensure horizontal separation between unread messages count and the word Messages
  }

  .category {
    margin-left: 0;
    margin-right: 0;
    width: 50%;

    .badge-category {
      min-width: 0; // keep min-width despite 2 col layout to achieve 1) easier visual identification of cats and b) more room for notifications
      text-align: left;
    }
  }
}

.d-header .icons {
  display: flex;
  float: right;
  text-align: center;
  margin: 0 0 0 5px;
  list-style: none;
}

.d-header .icons .icon {
  display: flex;
  padding: 3px;
  color: #ececec;
  text-decoration: none;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: all linear 0.15s;
}

.d-header .icons [class^="fa fa-"] {
  width: 32px;
  height: 32px;
  font-size: 1.714em;
  line-height: 32px;
  display: inline-block;
}

.d-header .icons > li {
  float: left;
}

.d-header .icons .icon,
.drop-down-visible .d-header .icons .icon {
  position: relative;
  padding: 11px 2px;
  color: white;
  border: 1px solid transparent;
  transition: background-color 167ms ease-out;
}
