@import "common/foundation/variables";
@import "common/foundation/mixins";

.top-crawler-links {
  display: none;
}

.d-header {
  .container {
    margin-left: 10px;
    margin-right: 10px;
    max-width: none;
    width: auto;
  }

  .logomark {
    float: left; // so that left-floating .extra-info-wrapper can sit on logo's and link's right side
    margin-top: 11px;
    margin-right: 10px;
  }

  .current-username a {
    color: #fff;
    margin-top: 12px;
  }

  .icons {
    .icon {
      color: $gray-light-SP;
      border: 1px solid transparent; // prevent "flash of rounded bottom corners" as dropdown is opening
      transition: background-color 167ms ease-out; // align transition with dropdown menu fadein transition

      &:hover {
        background-color: transparent;
        border: 1px solid transparent; // prevent "flash of rounded bottom corners" as dropdown is opening
        color: #fff;
      }

      &:active {
        color: #fff;
      }
    }

    .active .icon { // when e.g. hamburger dropdown menu is opened
      border: 1px solid #fff; // prevent "flash of rounded bottom corners" as dropdown is opening

      &:hover {
        border: 1px solid #fff; // prevent "flash of rounded bottom corners" as dropdown is opening
        color: $gray-sitepoint-header-bg-SP;
        background-color: #fff;
      }

      &:active {
        color: #000;
      }
    }
  }
}

.d-dropdown {
  border-top-color: #fff;

  .user-dropdown-links .badge-notification {
    margin-right: 5px; // ensure horizontal separation between unread messages count and the word Messages
  }


  .category {
    margin-left: 0;
    margin-right: 0;
    width: 50%;

    .badge-category {
      min-width: 0; // keep min-width despite 2 col layout to achieve 1) easier visual identification of cats and b) more room for notifications
      text-align: left;
    }
  }
}
