@import "common/foundation/variables";
@import "common/foundation/mixins";

.categories--mobile, .latest--mobile {
  @media (min-width: $mobile-break-point-SP + 1) { display:none; }
}

.categories--desktop, .latest--desktop {
  @media (max-width: $mobile-break-point-SP + 1) { display:none; }
}

.list-controls {
  .category-dropdown-button {
    border-left: none;
  }

  .category-dropdown-menu {
    padding: 8px 8px 0px
  }

  a.badge-category {
    min-width: 0;

    &.category-dropdown-button {
      i:before {
        content: '\f0d7'; // caret down instead of right
      }
    }
  }
}

.contents .topic-list {
  border-collapse: collapse;
  position: relative;
  border-color: $gray-lighter-SP;
  border-style: solid;
  border-width: 1px;

  th, td {
    border-color: $gray-lighter-SP;
    border-style: solid;
    border-width: 0 0 1px;

    &:nth-of-type(1), &.border--category {
      // border-left-color: currentColor;
      border-left-color: $gray-lighter-SP !important;
      border-left-width: 1px;
    }

    .pull-left h3 a[href], /* &.latest--desktop a.title[href] */ {
      color: currentColor;
    }

    .category-description {
      color: $gray-light-SP;
    }

    .star {
      text-align: right;
    }

    .tagger-tags-view {
      color: $gray-text-SP;
    }
  }

  th {
    position: static !important; // Firefox fix for weird border shinanigans
  }

  table td {
    border: none; // no borders on nested table children
  }
}

.topic-list {
  a.title {
    color: $tertiary;
  }

  a.title:visited:not(.badge-notification) {
    color: $tertiary;
  }
}

ol.category-breadcrumb {
  li {
    @include border-radius-all($border-radius-default-SP);
    border: 1px solid $gray-lighter-SP;
    overflow: hidden; // so that rounded corners are not overflown

    > .badge-category {
      @include border-radius-all(0);
    }
  }
}
