@import "common/foundation/variables";

.names span {
  font-size: inherit;

  a {
    color: $tertiary;
  }

  &.Administrators a {
    color: #dc2e17;
  }

  &.TeamLeaders a {
    color: #011a74;
  }

  &.Advisors a {
    color: #1b815c;
  }

  &.Mentors a {
    color: #ba5401;
  }

  &.TeamSitePoint + .user-title a:before {
    content: "[SitePoint]";
    margin-right: 8px;
    color: #999;
  }
}

.contents .cooked {
  margin-top: 1em; // ensure enough vertical separation between topic header and topic content even if content starts with a blockquote or an UL tag (rather than the usual P)
  margin-bottom: 1em; // mobile: prevent missing vert separation between blockquote and reply button if last thing in topic contents is a blockquote
}

/* fix staff color so it takes up full post */
.topic-post.moderator {
    background-color: dark-light-choose($highlight-low, $highlight-medium);
}

.discourse-no-touch .topic-body .actions .fade-out {
    opacity: 1;
}

nav.post-controls button.has-like {color: #ec5645 !important;}

nav.post-controls a, 
nav.post-controls button,
nav.post-controls button .d-icon, 
nav.post-controls .highlight-action,
nav.post-controls .like-button .like-count,
nav.post-controls .like-button .like-count .d-icon {
    color: #8a969d;
}

nav.post-controls .highlight-action {
    font-weight: bold !important;
}
