.awesome-bar {
  -webkit-transition: top 800ms;
  -moz-transition: top 800ms;
  -o-transition: top 800ms;
  transition: top 800ms;
  background:#1c94c6;
  display:block;
  position:fixed;
  top:-60px;
  width:100%;
  z-index:999;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 16px;

  p {
    color:#fff;
  }

  &.show {
    top: 63px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -moz-transform: translateZ(0);
  }
}

.awesome-bar_container {
  margin: 0 50px;
  max-width: 80em;
  display: block;
  padding: 0.7em;

  @media (max-width: 680px) {
    text-align: center;
  }

  * {
    display: inline-block;
    margin-bottom:0;
    vertical-align: middle;
  }
}

.awesome-bar_container:before, .awesome-bar_container:after {
  content: " ";
  display: table;
}

.awesome-bar_container:after {
  clear: both;
}

.awesome-bar_brand {
  float: left;
  margin: 3px 0 0 0;

  @media (max-width: 680px) {
    float: none;
  }
}

.awesome-bar_message {
  font-weight: 700;
  float: left;
  line-height: 1;
  padding-left: 1em;
  margin-top: 7px;

  @media (max-width: 680px) {
    font-size: 13px;
  }
}

.awesome-bar_action {
  background:lighten(#1c94c6, 15%);
  float:right;
  margin-bottom:0;

  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding-top: 0.625em;
  padding-bottom: 0.5625em;
  -webkit-appearance: none;
  padding-right: 1.125em;
  padding-left: 1.125em;
  font-size: 0.8125em;
  text-transform: capitalize;
  border-style: solid;
  border-width: 0;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  border-color: #1779a2;
  color: #fff;

  @media (max-width: 680px) {
    float: none;
    display: block;
    margin: 10px 0 0 0;
  }
}

.awesome-bar_close {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  height: 20px;
  padding-top: 2px;
  position: absolute;
  right: 11px;
  text-align: center;
  top: 16px;
  width: 20px;

  &:hover {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}


