<div class="proper-ad-unit">
  <div id="proper-ad-sitepoint_community_home">
    <script> propertag && propertag.cmd.push(function () { proper_display('sitepoint_community_home'); }); </script>
  </div>
</div>